# ディレクトリは基本ブラックリスト
/bin/
/workspace/
/doc/html/
/.xmake/
/build/

# ファイルは基本ホワイトリスト
# (1文字以上).(0文字以上)のファイルはignore
?*.*
# ただし以下の拡張子は追跡
!*.bat
!Makefile.common
!doxygen.conf
!*.cpp
!*.h
!*.hpp
!*.html
!*.hydla
!*.m
!*.md
!*.pl
!*.py
!*.rb
!*.sh
!*.hydat.master
!*.yaml
!*.lua
# ただし次のcppファイルは例外
math_source.cpp

msc
/backend_sample/backend_sample
/backend_sample/backend_sample.h
