# ディレクトリは基本ブラックリスト
/bin/
/workspace/
/doc/html/

# ファイルは基本ホワイトリスト
# (1文字以上).(0文字以上)のファイルはignore
?*.*
# ただし以下の拡張子は追跡
!*.bat
!Makefile.common
!doxygen.conf
!*.cpp
!*.h
!*.hpp
!*.html
!*.hydla
!*.m
!*.md
!*.pl
!*.py
!*.rb
!*.sh
# ただし次のcppファイルは例外
math_source.cpp

/src/math_source_converter/msc