{"first_phases":[{"children":[{"children":[],"id":2,"parameter_map":{},"parameter_maps":[{}],"simulation_state":"TIME_LIMIT","time":{"end_time":"Infinity","start_time":"0"},"type":"IP","variable_map":{"x":{"unique_value":"1"}}}],"id":1,"parameter_map":{},"parameter_maps":[{}],"simulation_state":"SIMULATED","time":{"time_point":"0"},"type":"PP","variable_map":{"x":{"unique_value":"1"}}}],"name":"asks","parameters":{},"variables":["x"]}