{"first_phases":[{"children":[{"children":[],"id":2,"parameter_map":{},"parameter_maps":[{}],"simulation_state":"TIME_LIMIT","time":{"end_time":"Infinity","start_time":"0"},"type":"IP","variable_map":{"time1":{"unique_value":"t"},"time1'":{"unique_value":"1"},"x":{"unique_value":"(4*Cos[t]+Cos[4*t])*1\/5"},"y":{"unique_value":"1\/5*(4*Sin[t]+(-1)*Sin[4*t])"}}}],"id":1,"parameter_map":{},"parameter_maps":[{}],"simulation_state":"SIMULATED","time":{"time_point":"0"},"type":"PP","variable_map":{"time1":{"unique_value":"0"},"time1'":{"unique_value":"1"},"x":{"unique_value":"1"},"y":{"unique_value":"0"}}}],"name":"hypocycloid","parameters":{},"variables":["time1","x","y","time1'"]}