{"first_phases":[{"children":[{"children":[{"children":[{"children":[],"id":4,"parameter_map":{},"parameter_maps":[{}],"simulation_state":"TIME_LIMIT","time":{"end_time":"Infinity","start_time":"5"},"type":"IP","variable_map":{"f":{"unique_value":"1"},"f'":{"unique_value":"0"}}}],"id":3,"parameter_map":{},"parameter_maps":[{}],"simulation_state":"SIMULATED","time":{"time_point":"5"},"type":"PP","variable_map":{"f":{"unique_value":"1"}}}],"id":2,"parameter_map":{},"parameter_maps":[{}],"simulation_state":"SIMULATED","time":{"end_time":"5","start_time":"0"},"type":"IP","variable_map":{"f":{"unique_value":"0"},"f'":{"unique_value":"0"}}}],"id":1,"parameter_map":{},"parameter_maps":[{}],"simulation_state":"SIMULATED","time":{"time_point":"0"},"type":"PP","variable_map":{"f":{"unique_value":"0"},"f'":{"unique_value":"0"}}}],"name":"step_function","parameters":{},"variables":["f","f'"]}