./check_examples/expanded_always.hydla --nd -t 5
#---------Case 1---------
#---------1---------
---------PP---------
time	: 0
x	: 0
x'	: 1

---------IP---------
time	: 0->1
x	: t
x'	: 1

#---------2---------
---------PP---------
time	: 1
x	: 2
x'	: parameter[x, 1, 3]

---------IP---------
time	: 1->5
x	: 2
x'	: 0


#---------parameter condition---------
parameter[x, 1, 3]	: (-inf, inf)
# time ended

