./check_examples/impulse_by_impulse.hydla -t 5
#---------1---------
---------PP---------
time	: 0
a	: 0
a'	: 1
b	: 0
c	: 0

---------IP---------
time	: 0->2
a	: t
a'	: 1
b	: 0
c	: 0

#---------2---------
---------PP---------
time	: 2
a	: 2
a'	: 1
b	: 1
c	: 1

---------IP---------
time	: 2->5
a	: t
a'	: 1
b	: 0
c	: 0

# time ended

