./check_examples/impulse_function.hydla -t 10
#---------1---------
---------PP---------
time	: 0
a	: 0
a'	: 1
b	: 0

---------IP---------
time	: 0->5
a	: t
a'	: 1
b	: 0

#---------2---------
---------PP---------
time	: 5
a	: 5
a'	: 1
b	: 1

---------IP---------
time	: 5->10
a	: t
a'	: 1
b	: 0

# time ended

