./hyrose ./examples/bouncing_particle.hydla -t 4 --nd -s r
#---------Case 1---------
#---------1---------
---------PP---------
time	: 0
y	: 10
y'	: 0
y''	: -10

---------IP---------
time	: 0->2^(1/2)
y	: (t^2+(-2))*(-5)
y'	: t*(-10)
y''	: -10

#---------2---------
---------PP---------
time	: 2^(1/2)
y	: 0
y'	: 2^(3+1/2)
y''	: parameter[y, 2, 3]

---------IP---------
time	: 2^(1/2)->2^(1/2)*13/5
y	: 2^(1+1/2)*9*t+(-26)+t^2*(-5)
y'	: 2*(2^(1/2)*9+t*(-5))
y''	: -10

#---------3---------
---------PP---------
time	: 2^(1/2)*13/5
y	: 0
y'	: 2^(1/2)*32/5
y''	: parameter[y, 2, 5]

---------IP---------
time	: 2^(1/2)*13/5->4
y	: t^2*(-5)+2^(1/2)*t*162/5+(-2522)/25
y'	: t*(-10)+2^(1/2)*162/5
y''	: -10


#---------parameter condition---------
parameter[y, 2, 3]	: (-inf, inf)
parameter[y, 2, 5]	: (-inf, inf)
# time ended

