./examples/bouncing_particle.hydla -sr -t4 --nd

#---------parameter condition---------
parameter[y, 2, 3]	: (inf, inf)
parameter[y, 2, 5]	: (inf, inf)
#---------Case 1---------
#---------1---------
---------PP 1---------
{BOUNCE$0, FALL$0, INIT$0}
time	: 0
y	: 10
y'	: 0
y''	: -10
---------IP 2---------
{BOUNCE$0, FALL$0}
time	: 0->2^(1/2)
y	: -5*t^2+10
y'	: -10*t
y''	: -10
#---------2---------
---------PP 3---------
{BOUNCE$0}
time	: 2^(1/2)
y	: 0
y'	: 8*2^(1/2)
y''	: parameter[y, 2, 3]
---------IP 4---------
{BOUNCE$0, FALL$0}
time	: 2^(1/2)->13*2^(1/2)/5
y	: 18*2^(1/2)*t+(-(5*t^2))+(-26)
y'	: 18*2^(1/2)+(-(10*t))
y''	: -10
#---------3---------
---------PP 5---------
{BOUNCE$0}
time	: 13*2^(1/2)/5
y	: 0
y'	: 32*2^(1/2)/5
y''	: parameter[y, 2, 5]
---------IP 6---------
{BOUNCE$0, FALL$0}
time	: 13*2^(1/2)/5->4
y	: (810*2^(1/2)*t+(-(125*t^2))+(-2522))/25
y'	: (162*2^(1/2)+(-(50*t)))/5
y''	: -10

#---------parameter condition---------
parameter[y, 2, 3]	: (inf, inf)
parameter[y, 2, 5]	: (inf, inf)
# time reached limit

